.aside-panel {
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: white;
    padding: 24px;
    border-radius: 24px;
    max-width: 390px;
    min-width: 0;  
}

@media (min-width: 1261px) {
    .aside-panel {
        border-radius: 20px;
        align-self: start;

    }
    
    .aside-panel__close-btn {
        display: none;
    }
}

@media (max-width: 1260px) {
    .aside-panel {
        justify-self: end;
        align-self: start;
        width: min(320px, 100%);
        z-index: 3;
        border-radius: 0;
        box-shadow: 1px 5px 36px -20px #6A6376;
        display: none;
    }
    
    .aside-panel_active {
        display: flex;
    }
    
    .aside-panel__close-btn {
        display: block;
        width: 20px;
        height: 20px;
        background-image: url("/close-btn.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: auto;
        margin-bottom: -20px;
        cursor: pointer;
        border: none;
        background-color: transparent;
    }
}

@media (max-width: 600px) {
    .aside-panel {
        max-width: 100%;
        width: calc(100% - 20px);
    }
}