@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --logo-bg: #4600E9;
  --logo-tree-col: white;

  --purp700: #6A0BFF;
  --purp800: #5509CC;
  --brand-col: #5533FF;

  --black50: #E8E8E8;
  --black200: #ABABAB;
  --black700: #474747;
  --black800: #303030;

  min-height: 100%;

  display: grid;
  grid-template-rows: 1fr;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;

  background-color: #F4F4F4;

  display: grid;
  grid-template-rows: 1fr;
}

/* ------------------------ */
/* -------- resets -------- */
/* ------------------------ */

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-align: inherit;
  outline: none;
}

/* Safari: no blue outline */
button {
  -webkit-tap-highlight-color: transparent;
}

/* Custom focus */
button:focus-visible {
  outline: 2px solid var(--purp700);
  outline-offset: 2px;
}

hr {
  border: none;
  height: 1px;
  background-color: currentColor;
}

/* ------------------------- */
/* -------- utility -------- */
/* ------------------------- */

.wrapper {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

@media(max-width: 1260px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media(max-width: 600px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.section-with-bg {
  position: relative;
  max-width: 100%;
}

.section-with-bg:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
}

.yeahub-logo {
  --logo-bg: #4600E9;
  --logo-tree-col: white;
}

.no-scroll {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.main-btn {
  background: var(--purp700);
  padding: 12px 28px;
  border-radius: 12px;
  color: white;
}

.main-btn:hover {
  background: color-mix(in srgb, var(--purp700) 100%, black 15%);
}

.secondary-btn {
  padding: 2px;
  border-radius: 2px;
  color: var(--purp700);
}