.questions-page-container {
    padding: 40px 0;
    position: relative;
}

@media(min-width: 1261px) {
    .questions-page-container {
        display: flex;
        gap: 30px;
    }
}

.questions {
    padding: 20px;
    border-radius: 20px;
    background-color: white;

    position: relative;

    height: fit-content;

    flex: 1;
}

.questions__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.questions__header {
    font-weight: 400;
    margin: 0 0 20px;

    display: flex;
}

.questions__header-text {
    margin: 0;
}

.questions__toggle-filters-btn {
    display: none;

    margin-left: auto;

    width: 35px;
    height: 35px;

    border-radius: 8px;
    border: 1px solid var(--black200);

    background-image: url("/icons/filters-icon.svg");
    background-position: center center;
    background-repeat: no-repeat;
}

@media(max-width: 1261px) {
    .questions__toggle-filters-btn {
        display: inline;
    }
}

.questions__hr {
    color: #E8E8E8;
    margin-bottom: 20px;
}

.question {
    border-radius: 10px;
    padding: 15px 20px;
    box-shadow:  0 4px 10px 0 #6a63761a;
}

.question__title-wrapper {
    cursor: pointer;
    display: flex;
    align-content: space-between;
    justify-content: start;
}

.question__title-mark {
    color: var(--brand-col);
    margin-right: 10px;
}

.question__title {
    margin: 0;
    font-weight: 400;
}

.question__title-arrow {
    min-width: 24px;
    align-self: center;
    margin-left: auto;
    stroke: var(--purp700);
    fill: var(--purp700);

    transition: transform 0.15s ease-in-out;
    transform: rotate(0deg);
}

.question_active .question__title-arrow {
    transform: rotate(180deg);
}

.question__answer {
    display: none;
    flex-wrap: wrap;
    gap: 0 30px;
    
    margin-top: 10px;
}

.question_active .question__answer {
    display: flex;
}

.question__badge {
    position: relative;

    font-size: 14px;
    height: fit-content;
    padding: 6px 10px;
    border-radius: 8px;

    display: block;

    background-color: #F8F8F8;
}

.question__badge:after {
    content: var(--content);

    background-color: var(--purp700);
    color: white;
    margin-left: 12px;
    padding: 2px 4px;
    border-radius: 6px;
}

.question__short-answer {
    flex-basis: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
}

/* .question__short-answer:empty {
    color: var(--black200);
}
.question__short-answer:empty:before {
    content: "Ответа нет, как ни странно"
} */

.question__details-link {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: end;
    margin-left: auto;
    color: var(--purp700) !important;
}


.filters__container {
    max-width: 390px;
}

@media(max-width: 1260px) {
    .filters__container {
        width: min(320px, 100%);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
    }
}